<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Bienvenido a la Aplicación para Documentos Digitales</h1>


  <%= link_to "¡Registrate Ahora!", '/registro', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("docdigitales.png", alt: "doclogo"),
            'http://docdigitales.com' %>