<footer class="footer">
  <small>
    <a href="https://www.linkedin.com/in/gerardo-bastida-32556b124">Perfil de LinkedIN</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre Mi",   '/sobremi' %></li>
      <li><%= link_to "Contacto", '/contacto' %></li>
    </ul>
  </nav>
</footer>