   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "app", '/', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Inicio",   '/' %></li>
            <li><%= link_to "Ayuda",   '/ayuda' %></li>
            <li><%= link_to "Login", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>